@use '../mixins/breakpoint.scss' as *;
@use '../mixins/disable-mob-hover' as *;

.footer {
  flex: 0 0 auto;
  width: 100%;
  z-index: 10;
  user-select: none;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-14);
    font-size: 10px;
    color: #444;
    letter-spacing: 1px;
  }

  &__link {
    margin-bottom: var(--spacing-10);
    font-size: var(--font-size-12);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: var(--text-color);
    padding-left: 0.3em;
    transition:
      color 0.3s ease-in-out,
      text-shadow 0.3s ease-in-out;

    @include hover {
      color: var(--accent-color);
      text-shadow: 0 0 10px rgba(255, 0, 60, 0.4);
    }

    @include mobile {
      padding-top: var(--spacing-20);
    }
  }

  @include small-tablet {
    padding-bottom: var(--spacing-40);

    .footer__container {
      gap: var(--spacing-12);
      text-align: center;
    }
  }

  @media (orientation: landscape) {
    @include mobile {
      padding-top: var(--spacing-20);
      padding-bottom: var(--spacing-30);

      .footer__container {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
