@use '../mixins/disable-mob-hover' as *;
@use '../mixins/breakpoint.scss' as *;

.media-panel {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  gap: 30px;
  margin-top: auto;
  margin-bottom: var(--spacing-10);
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    135deg,
    rgba(10, 10, 10, 0.95) 0%,
    rgba(20, 20, 20, 0.8) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;

  @include tablet-to-small {
    grid-template-columns: 2fr 1fr;
  }

  @include desktop {
    width: 100%;
  }

  @include small-tablet {
    grid-template-columns: 1fr;
  }

  @include small-mobile {
    display: flex;
    flex-direction: column;
  }

  &__meta {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 20px;

    @include tablet-to-small {
      order: -2;
      flex-direction: row;
      align-items: center;
    }

    @include small-mobile {
      align-items: center;
      justify-content: center;
    }
  }

  &__cover {
    width: 150px;
    height: 150px;
    border-radius: 6px;

    @include tablet-to-small {
      width: 100px;
      height: 100px;
    }
  }

  &__content {
    text-align: left;

    @include small-mobile {
      text-align: center;
    }
  }

  &__release-title {
    margin: 0;
    margin-bottom: 10px;
    color: var(--text-color);
  }

  &__release-info {
    margin: 0;
    margin-bottom: 10px;
    color: var(--text-color);
  }

  &__tracks {
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet-to-small {
      grid-row: span 2;
      order: -2;
      height: 100%;
    }
  }

  &__track-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }

  &__track-item {
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.2s ease;

    &:hover {
      color: var(--white-color);
    }

    &.is-active {
      color: var(--accent-color);
      font-weight: bold;
    }
  }
}
