@use '../mixins/breakpoint.scss' as *;

.media {
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 85dvh;

    @include mobile {
      height: auto;
      min-height: 100%;
      margin-bottom: var(--spacing-20);
    }
  }

  &__inner {
    position: absolute;
    top: 20px;
    left: 37px;

    @include tablet {
      top: -35px;
      left: 20px;
    }

    @include mobile {
      top: -20px;
    }
  }

  &__btn-icon {
    display: none;
  }

  @include tablet {
    &__btn-icon {
      width: 40px;
      height: 40px;
      display: block;
      stroke: var(--text-color);
    }
  }

  @include mobile {
    &__btn-icon {
      width: 20px;
      height: 20px;
    }
  }

  @include tablet {
    &__btn-text {
      display: none;
    }
  }
}
