@use '../mixins/disable-mob-hover' as *;
@use '../mixins/breakpoint.scss' as *;

.media-panel {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  gap: 30px;
  margin-top: auto;
  margin-bottom: var(--spacing-10);
  padding: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;

  @include tablet-to-small {
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    width: 100%;
  }

  @include small-tablet {
    grid-template-columns: 1fr;
  }

  &__tracks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    mask-image: linear-gradient(to bottom, #000 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, #000 85%, transparent 100%);

    @include tablet-to-small {
      grid-row: span 2;
      order: -2;
      height: 100%;
    }
  }

  &__tracks--bonus {
    display: none;

    &.is-active {
      display: flex;
    }
  }

  &__track-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: safe center;
    gap: 20px;
    height: 250px;
    overflow-y: auto;
    padding-right: 8px;

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: #0d0d0d;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: #333;
      border-radius: 4px;
      cursor: pointer;

      @include hover {
        background: #ff003c;
      }
    }

    @include tablet-to-small {
      &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
      }

      scrollbar-width: none;

      -ms-overflow-style: none;
    }
  }

  &__track-item {
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.2s ease;

    &:hover {
      color: var(--white-color);
    }

    &.is-active {
      color: var(--accent-color);
      font-weight: bold;
    }

    @include xs-mobile {
      text-align: left;
    }
  }
}
