@use '../mixins/breakpoint.scss' as *;

.media {
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 85dvh;

    @include mobile {
      height: auto;
      min-height: 100%;
      margin-bottom: var(--spacing-20);
    }
  }
}
