@use '../mixins/disable-mob-hover' as *;
@use '../mixins/breakpoint.scss' as *;

.photos {
  &__swiper {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: auto;
    overflow: hidden;
    padding: var(--spacing-30) 0;
    flex-shrink: 0;
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      #000 10%,
      #000 90%,
      transparent 100%
    );

    @include mobile {
      mask-image: none;
    }
  }

  &__slide {
    width: 100%;
    height: 45vh;
    flex-shrink: 0;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;

    &:not(:global(.swiper-slide-active)) {
      opacity: 0.3;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
  }

  &__picture-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-40);
    margin-bottom: var(--spacing-40);
    width: 100%;
  }

  &__pagination {
    position: relative;
    width: auto;
    font-size: var(--font-size-16);
    font-weight: bold;
    color: var(--accent-color);
    text-shadow: 0 0 10px rgb(var(--accent-color) / 50%);
    letter-spacing: 2px;
    user-select: none;

    :global(.swiper-pagination-current) {
      color: var(--accent-color);
      text-shadow: 0 0 10px rgb(var(--accent-color) / 50%);
    }

    @include small-tablet {
      padding-top: var(--spacing-30);
    }
  }

  &__divider {
    color: var(--accent-color);
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
    color: var(--accent-color);
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;

    @include hover {
      opacity: 1;
    }

    @include small-tablet {
      display: none;
    }
  }
}
