---
import Layout from '@layouts/BaseLayout.astro';
import BonusTracks from '@components/BonusTracks.astro';

import { promoData } from '@data/promo';
---

<Layout title="demo">
  <div>
    <BonusTracks />
  </div>
</Layout>
