---
// import { Image } from 'astro:assets';
// import { Icon } from 'astro-icon/components';
// import Button from './Button.astro';
import { poster } from '@data/images';
import type { PromoDataT } from '@appTypes/promoTypes';
import { promoData } from '@data/promo';
import DemoTracks from './DemoTracks.astro';
import UnreleasedTracks from './DemoTracks.astro';
import RemixesTracks from './DemoTracks.astro';
import InstrumentalTracks from './DemoTracks.astro';
// import MainTitle from './MainTitle.astro';
// import Player from './Player.astro';
---

<section class="section-offset">
  <div class="media__container container">
    <!-- <DemoTracks data={promoData} />
    <UnreleasedTracks data={promoData} />
    <RemixesTracks data={promoData} />
    <InstrumentalTracks data={promoData} /> -->
  </div>
</section>
