---
import { Icon } from 'astro-icon/components';
import Button from './Button.astro';
---

<div class="go-back">
  <Button extraClass="go-back__link btn--secondary" href="/">
    <Icon name="arrow-back" class="go-back__icon" />
    <span class="go-back__text">Назад</span>
  </Button>
</div>
