---
import { Icon } from 'astro-icon/components';
---

<div class="dashboard">
  <a href="#media" class="dashboard__tile">
    <Icon name="music" class="dashboard__icon" aria-hidden="true" />
    <div class="dashboard__content">
      <span>Слушать альбом</span>
    </div>
  </a>
  <a href="#details" class="dashboard__tile">
    <Icon name="info" class="dashboard__icon" aria-hidden="true" />
    <div class="dashboard__content">
      <span>Детали альбома</span>
    </div>
  </a>
  <a href="#bonus-tracks" class="dashboard__tile">
    <Icon name="cassette" class="dashboard__icon" aria-hidden="true" />
    <div class="dashboard__content">
      <span>Демки и Раритеты</span>
    </div>
  </a>
  <a href="#video" class="dashboard__tile">
    <Icon name="video" class="dashboard__icon" aria-hidden="true" />
    <div class="dashboard__content">
      <span>Видео</span>
    </div>
  </a>
  <a href="#gallery" class="dashboard__tile">
    <Icon name="gallery" class="dashboard__icon" aria-hidden="true" />
    <div class="dashboard__content">
      <span>Галерея</span>
    </div>
  </a>
</div>
