---
import type { PromoDataT } from '@appTypes/promoTypes';

interface Props {
  data: PromoDataT;
}

const { data } = Astro.props;

const demoTracks = data.tracks?.filter((t) => t.category === 'demo');
---

<div class="media-panel__tracks" data-category-wrapper="demo">
  <ul class="media-panel__track-list list-reset">
    {
      demoTracks && demoTracks.length > 0 ? (
        demoTracks?.map((track, idx) => (
          <li
            class="media-panel__track-item"
            data-src={track.fileUrl}
            data-track-item
          >
            <span class="media-panel__track-number">
              {String(idx + 1).padStart(2, '0') + ' '}
            </span>
            <span class="media-panel__track-name">{track.title}</span>
          </li>
        ))
      ) : (
        <p>Трек-лист временно отсутствует!</p>
      )
    }
  </ul>
</div>
