---
import '@assets/scss/vendor/normalize.css';
import '@assets/scss/main.scss';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'Заголовок сайта', description = '' } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />

  <title>{title}</title>

  {description && <meta name="description" content={description} />}

  <script>
    import '@assets/ts/main';
  </script>
</head>
