---
import { promoData } from '@data/promo';
---

<div class="main-title">
  <span class="main-title__badge">10 years anniversary</span>
  <h1 class="main-title__title">
    {promoData.title}
  </h1>
  <h2 class="main-title__subtitle">{promoData.releaseName}</h2>
</div>
