---
import { Image } from 'astro:assets';
import { poster } from '@data/images';
import type { PosterUrl, PosterMobileUrl } from '@appTypes/promoTypes';

interface Props {
  imageUrl: PosterUrl;
  imageMobileUrl: PosterMobileUrl;
}

const { imageUrl, imageMobileUrl } = Astro.props;

const cover = poster[`/src/assets/${imageUrl}`]?.default;
const coverMobile = poster[`/src/assets/${imageMobileUrl}`]?.default;
---

<div class="poster">
  {
    cover && (
      <Image
        src={cover}
        alt="Юбилейный постер альбома Your Death Is My Salvation"
        class="poster__bg poster__bg--desktop"
        quality="high"
      />
    )
  }

  {
    coverMobile && (
      <Image
        src={coverMobile}
        alt="Юбилейный постер альбома Your Death Is My Salvation"
        class="poster__bg poster__bg--mobile"
        quality="high"
      />
    )
  }

  <div class="poster__overlay"></div>
</div>
