---
import type { PromoDataT } from '@appTypes/promoTypes';

interface Props {
  data: PromoDataT;
}

const { data } = Astro.props;

const remixTracks = data.tracks?.filter((t) => t.category === 'remixes');
---

<div class="media-panel__tracks" data-category-wrapper="remixes">
  <ul class="media-panel__track-list list-reset">
    {
      remixTracks?.map((track, idx) => (
        <li
          class="media-panel__track-item"
          data-src={track.fileUrl}
          data-track-item
        >
          <span class="media-panel__track-number">
            {String(idx + 1).padStart(2, '0') + ' '}
          </span>
          <span class="media-panel__track-name">{track.title}</span>
        </li>
      ))
    }
  </ul>
</div>
