<div class="studio-mixer">
  <h5 class="studio-mixer__title">Studio Mixer</h5>

  <div class="studio-mixer__switches">
    <label class="mixer-switch">
      <input
        type="radio"
        name="mixer-category"
        value="demo"
        checked
        class="mixer-switch__input"
      />
      <span class="mixer-switch__led"></span>
      <span class="mixer-switch__handle"></span>
      <span class="mixer-switch__label">DEMO</span>
    </label>

    <label class="mixer-switch">
      <input
        type="radio"
        name="mixer-category"
        value="unreleased"
        class="mixer-switch__input"
      />
      <span class="mixer-switch__led"></span>
      <span class="mixer-switch__handle"></span>
      <span class="mixer-switch__label">UNRELEASED</span>
    </label>

    <label class="mixer-switch">
      <input
        type="radio"
        name="mixer-category"
        value="remixes"
        class="mixer-switch__input"
      />
      <span class="mixer-switch__led"></span>
      <span class="mixer-switch__handle"></span>
      <span class="mixer-switch__label">REMIXES</span>
    </label>

    <label class="mixer-switch">
      <input
        type="radio"
        name="mixer-category"
        value="instrumental"
        class="mixer-switch__input"
      />
      <span class="mixer-switch__led"></span>
      <span class="mixer-switch__handle"></span>
      <span class="mixer-switch__label">INSTRUMENTAL</span>
    </label>
  </div>
</div>
