---
import Head from '@components/Head.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'Название сайта', description = 'Описание сайта' } =
  Astro.props;
---

<html lang="ru" class="page">
  <Head title={title} description={description} />
  <body class="page__body">
    <main class="main">
      <slot />
    </main>
  </body>
</html>
